.about__contaner{
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0,0,0,0.3),
    0 -6px 16px -6px rgba(0,0,0,0.025);
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    width: 100%;
    max-width: 400px;
    font-weight: 300;
}

.about__contaner div{
    padding-top: 3px;
    margin: 2px;
    text-align: center;
}

.about__contaner div a{
    text-decoration: yellowgreen;
    font-size: 7px;
    font-weight: bolder;
}

.about__contaner span:first-child{
    font-size: 20px;
}

.about__contaner span:last-child{
    display: block;
    margin-top: 10px;
}